*, *:before, *:after {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh; /* Ekran yüksekliği kadar yükseklik */
    margin: 0; /* Varsayılan margin'ı sıfırla */
    flex-direction: column;
}

header {
    height: 50px;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: deepskyblue;
}

header nav ul a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

header nav ul a:hover {
    background: #1565C0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-container {
    height: calc(100vh - 80px);

}

.project-container figure {
    text-align: center;
    padding: 4px;
    margin: auto;
    height: calc(100vh - 80px - 30px);
}

.project-container figure img {
    height: calc(100vh - 80px - 60px - 20px);
    width: 100%;
}

.project-container figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    height: 20px;
}

.project-container form {
    height: 30px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.project-container form button{
    flex: 0 0 90px;
    margin: 0;
}
footer {
    height: 30px;
}