{% extends "layout.html" %}

{% block title %}Değerlendirme Sayfası{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <button class="button -green center" onclick="showPreviousProject()">Önceki Proje</button>
        {% for project in projects %}
            <div id="{{ project.id }}_container" class="project-container" {% if loop.first %}style="display: block;"
                 {% else %}style="display: none;"{% endif %} title="Çözümü Görmek için tıklayın">
                <figure id="{{ project.id }}_figure" style="display: block">
                    <img class="image-container"
                         id="{{ project.id }}_image"
                         src="{{ url_for('static', filename='projects/' + project.owner_name + '/' + project.images[0].filename) }}"
                         alt="Project Image"
                         onclick="toggleAnswerImage('{{ project.id }}')"
                    />
                    <figcaption>{{ project.owner_name }} Projesi</figcaption>
                </figure>
                <figure id="{{ project.id }}_figure_answer" style="display: none">
                    <img class="image-container"
                         id="{{ project.id }}_image_answer"
                         src="{{ url_for('static', filename='projects/' + project.owner_name + '/' + project.images[1].filename) }}"
                         alt="Project Answer Image"
                         onclick="toggleAnswerImage('{{ project.id }}')"
                    />
                    <figcaption>{{ project.owner_name }} Projesi- Çözüm</figcaption>
                </figure>

                <form class="rating-form" id="{{ project.id }}_form" data-project-id="{{ project.id }}">
                    <div class="range-slider">
                        <input id="{{ project.id }}_rating" class="range-slider__range" type="range"
                               value="{{ project_ratings.get(project.id,0) }}" min="0" max="10">
                        <span class="range-slider__value">0</span>
                    </div>

                    <button class="button -blue center" type="button" onclick="rateProject('{{ project.id }}')">Puan
                        Ver
                    </button>
                </form>
            </div>
        {% endfor %}
        <button class="button -green center" onclick="showNextProject()">Sonraki Proje</button>

    {% else %}
        <h2>Ana Sayfa</h2>
        <p>Lütfen giriş yapın.</p>
        <a href="{{ url_for('login') }}">Giriş Yap</a>
    {% endif %}

    <script>
        // range.js

        var currentProjectIndex = 0;
        var projects = [{% for project in projects %}{{ project.id }}{% if not loop.last %}, {% endif %}{% endfor %}];

        function showNextProject() {
            document.getElementById(projects[currentProjectIndex] + '_container').style.display = 'none';

            currentProjectIndex = (currentProjectIndex + 1) % projects.length;

            document.getElementById(projects[currentProjectIndex] + '_container').style.display = 'block';
        }

        function showPreviousProject() {
            document.getElementById(projects[currentProjectIndex] + '_container').style.display = 'none';

            currentProjectIndex = (currentProjectIndex - 1+ projects.length) % projects.length;

            document.getElementById(projects[currentProjectIndex] + '_container').style.display = 'block';
        }

        function toggleAnswerImage(projectId) {
            var image = document.getElementById(projectId + '_figure');
            var answerImage = document.getElementById(projectId + '_figure_answer');

            if (image.style.display === 'block') {
                image.style.display = 'none';
            } else {
                image.style.display = 'block';
            }
            if (answerImage.style.display === 'block') {
                answerImage.style.display = 'none';
            } else {
                answerImage.style.display = 'block';
            }
        }

        function rateProject(projectId) {
            var rating = document.getElementById(projectId + '_rating').value;

            // Ajax ile puan verme işlemi
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/rate_project/' + projectId, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                var response = JSON.parse(xhr.responseText);
                if (response.success) {
                    // Başarılı işlem sonrasında yapılacaklar
                    alert('Puan başarıyla verildi!');
                    console.log('Puan başarıyla verildi!');
                } else {
                    // Hata durumunda yapılacaklar
                    console.error('Puan verme işlemi başarısız!');
                    alert('Puan verme işlemi başarısız!');
                }
            };
            xhr.send('rating=' + rating);
        }
    </script>
    <script src="{{ url_for('static',filename='js/range.js') }}" type="text/javascript"></script>
{% endblock %}
