{% extends "layout.html" %}

{% block title %}Değerlendirme Sayfası{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="container text-center">
            <a href="{{ url_for('profile') }}" class="btn btn-primary">Vize</a>
            <a href="{{ url_for('rate_final_projects') }}" class="btn btn-primary">Final</a>
        </div>
    {% else %}
        <div class="container text-center">
            <h2>Ana Sayfa</h2>
            <p>Lütfen giriş yapın.</p>
            <a href="{{ url_for('login') }}">Giriş Yap</a>
        </div>
    {% endif %}

    {% block js %}
        <script>
        </script>
    {% endblock %}

{% endblock %}
