<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>

    <!-- Bootsrap 5 CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css', _external=True) }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block head %}

    {% endblock %}
</head>
<body class="d-flex flex-column h-100">

<header>

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">GençBilişim Akran Değerlendirme</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="nav mb-2 mb-md-0 nav-pills">
                    <li class="nav-item">
                        <a href="{{ url_for('home') }}"
                           class="nav-link {% if request.path == '/' %}active{% endif %}"
                           aria-current="page">Ana
                            Sayfa</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link {% if request.path == '/profile' %}active{% endif %}"
                                                href="{{ url_for('profile') }}">Profilim</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Çıkış Yap</a></li>
                    {% else %}
                        <li class="nav-item"><a id="login"
                                                class="nav-link {% if request.path == '/login' %}active{% endif %}"
                                                href="{{ url_for('login') }}">Giriş Yap</a></li>
                        <li class="nav-item"><a id="register"
                                                class="nav-link {% if request.path == '/register' %}active{% endif %}"
                                                href="{{ url_for('register') }}">Kayıt Ol</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>

</header>

<main role="main" class="flex-shrink-0">
    {% block content %}
    {% endblock %}
</main>


<footer class="footer mt-auto py-3 bg-light">
    <div class="container d-flex justify-content-between">
        <span class="text-muted">GençBilişim.net - Samet ATABAŞ </span>
        <a href="https://github.com/sametatabasch/akran_degerlendirme"> <i class="bi bi-github"></i></a>
    </div>
</footer>
<!-- Ek script dosyaları veya CDN bağlantıları burada eklenebilir -->
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block js %}

{% endblock %}
</body>
</html>
