<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <!-- Ek stil dosyaları veya CDN bağlantıları burada eklenebilir -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/range.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/buttons.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Çıkış Yap</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Giriş Yap</a></li>
                    <li><a href="{{ url_for('register') }}">Kayıt Ol</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Sayfa altbilgisi veya diğer altbilgi elemanları burada olabilir -->
        footer
    </footer>

    <!-- Ek script dosyaları veya CDN bağlantıları burada eklenebilir -->
</body>
</html>
