{% extends "layout.html" %}

{% block title %}Giriş Yap{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

    <div class="form">

        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Kayıt Ol</a></li>
            <li class="tab"><a href="#login">Giriş Yap</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up for Free</h1>

                <form action="/" method="post">

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                First Name<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off"/>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Last Name<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off"/>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off"/>
                    </div>

                    <button type="submit" class="button button-block"/>
                    Get Started</button>

                </form>

            </div>

            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="{{ url_for('login') }}" method="post">
                    {{ form.hidden_tag() }}

                    <div class="field-wrap">
                        <label for="{{ form.username.id }}">
                            Kullanıdı Adı <span class="req">*</span>
                        </label>
                        {{ form.username(class="form-control", id="username") }}
                        {% for error in form.username.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="field-wrap">
                        <label for="{{ form.password.id }}">
                            Şifre <span class="req">*</span>
                        </label>
                        {{ form.password(class="form-control", id="password") }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>

                    {{ form.submit(class="button button-block") }}

                </form>

            </div>

        </div><!-- tab-content -->

    </div> <!-- /form -->
    {% block js %}
        <script src="{{ url_for('static',filename='js/login_register.js') }}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}
