{% extends "layout.html" %}

{% block title %}Öğrenci Kayıt Formu{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="container">
        <h2 class="text-center">Öğrenci Kayıt Formu</h2>
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}

            <div class="form-floating">
                {{ form.first_name(placeholder="", class="form-control mb-3", id="username") }}
                {{ form.first_name.label(for="first_name") }}
                {% for error in form.first_name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-floating">
                {{ form.last_name(placeholder="", class="form-control mb-3", id="username") }}
                {{ form.last_name.label(for="last_name") }}
                {% for error in form.last_name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-floating">
                {{ form.username(placeholder="Kullanıcı Adı", class="form-control mb-3", id="username") }}
                {{ form.username.label(for="username") }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-floating">
                {{ form.email(placeholder="Email", class="form-control mb-3", id="email") }}
                {{ form.email.label(for="email") }}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-floating">
                {{ form.student_number(placeholder="Öğrenci Numarası", class="form-control", id="student_number") }}
                {{ form.student_number.label(for="student_number") }}
                <div id="student_number_help" class="form-text  mb-3">Numaranızın Başına o koymadan yazın</div>
                {% for error in form.student_number.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-floating">
                {{ form.password(placeholder="Şifre", class="form-control mb-3", id="password") }}
                {{ form.password.label(for="password") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-floating">
                {{ form.confirm_password(placeholder="Şifreyi Onayla", class="form-control mb-3", id="confirm_password") }}
                {{ form.confirm_password.label(for="confirm_password") }}
                {% for error in form.confirm_password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.submit(class="btn btn-primary btn-lg") }}
            </div>
        </form>
    </div>

{% endblock %}