{% extends "layout.html" %}

{% block title %}Öğrenci Listesi{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="container">
            <h2>Öğrenci Listesi</h2>

            <table id="student_list">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Kullanıcı Adı</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Numara</th>
                    <th>İşlemler</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.username }}</td>
                        <td>{{ student.first_name }}</td>
                        <td>{{ student.last_name }}</td>
                        <td>{{ student.student_number }}</td>
                        <td>
                            <button class="btn btn-danger delete-btn" data-student-id="{{ student.id }}">Sil</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container text-center">
            <h2>Ana Sayfa</h2>
            <p>Lütfen giriş yapın.</p>
            <a href="{{ url_for('login') }}">Giriş Yap</a>
        </div>
    {% endif %}
    {% block js %}
        <script>
            $(document).ready(function () {
                let table = $('#student_list').DataTable();

                // Silme butonlarına tıklama olayı ekle
                $('#student_list').on('click', '.delete-btn', function () {
                    let studentId = $(this).data('student-id');

                    // Ajax isteği ile öğrenciyi sil
                    $.ajax({
                        url: '/delete_student/' + studentId,
                        type: 'DELETE',
                        success: function (response) {
                            // Başarılı yanıt alındığında tabloyu güncelle
                            if (response.success) {
                                alert("Kullanıcı Silindi")
                                table.row($(this).parents('tr')).remove().draw();
                            }
                        }
                    });
                });
            });
        </script>
    {% endblock %}
{% endblock %}
