{% extends "layout.html" %}

{% block title %}Öğrenci Listesi{% endblock %}

{% block content %}
    <div>
        <h2>Öğrenci Listesi</h2>

        <table id="student_list">
            <thead>
            <tr>
                <th>Id</th>
                <th>Kullanıcı Adı</th>
                <th>Numara</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.username }}</td>
                    <td>{{ student.student_number }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        let table = new DataTable('#student_list');
    </script>
{% endblock %}